    <div class="container">
        <div class="row text-center">
    <div class="col-lg-offset-4 col-lg-4">
       
        <div class="input-group" align="center">
            <div class="form-control">
                <input class="input" id="fileInput" type="file">
            </div>
            <div class="input-group-btn">
                <button class="btn btn-default" (click)="onClick()" type="button">Upload</button>
            </div>
        </div>

    </div>
    </div>
        </div>