body {
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #999;
    border-radius:3px;
    background-color: #000000;
    padding: 5px;
    /*color:red;*/
    opacity:0.75;
}